<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- Define logging targets -->
	<targets>

		<!-- Log to a file -->
		<target name="logfile" xsi:type="File"
				fileName="logs/employee-log.txt"
				layout="${longdate} | ${level} | ${message} | ${exception}" />

		<!-- Log to console -->
		<target name="console" xsi:type="Console"
				layout="${longdate} | ${level} | ${message}" />

	</targets>

	<!-- Define logging rules -->
	<rules>
		<logger name="*" minlevel="Info" writeTo="logfile,console" />
	</rules>

</nlog>
